<link rel="stylesheet" href="{{ url_for('static',filename='css/dashboard.css')}}">
<title>{{ name }} | DashBoard </title>
{% extends 'base.html' %}
{% block content %}
<h2>Posts</h2>
  {% for post in post %}

  <div class="post mt-5">
    <img src="{{ post.img_path }}" alt="Post Image" width="80px" height="">
    <div class="contents">
    <h3>{{ post.title[:30]+'..' }}</h3>
    <p>{{ post.content[:100] + ".." }}</p>
    <div class="actionbutton">
      <a href="{{ url_for('fullarticle', id=post.id) }}"><button>Show</button></a>
    </div>
  </div>
</div>

  {% endfor %}
{% endblock %}
