<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="{{url_for('static',filename='css/login.css')}}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
</head>
<body>

	<div class="main">
		<div class="content">
			<form action="/login" method="POST">
				<table>
					<tr>
						<td>
							<label class="username">Username :</label>
						</td>
						<td>
							<input type="text" name="username" >
						</td>
					</tr>
					<tr>
						<td>
							<label>Password :</label>
						</td>
						<td>
							<input type="text" name="password">
						</td>
					</tr>
	
				</table>
				<div class="submitbtn">
					<button type="submit">Login</button>
				</div>
				<div class="textsec">
					<p>Don't Have an Account <a href="{{url_for('signup')}}">Signup</a></p>
				</div>
				
			</form>
		</div>
		
	</div>
	
	
	
	
	
</body>
</html>